# COVID Data Analysis

By
Surya Vaddhiparthy
Humpi Chowdary Goli
Corey Moon

Under guidance of Professor Dr. Hyun Bin Kang

## Libraries and Dependancies

In [113]:
import pandas as pd
import numpy as np
import os

In [4]:
os.getcwd()

'C:\\Users\\Surya'

## Loading Data

#### COVID-19 Vaccinations in the United States,Jurisdiction by Centers for Disease Control and Prevention
Source: https://data.cdc.gov/Vaccinations/COVID-19-Vaccinations-in-the-United-States-Jurisdi/unsk-b7fc

In [5]:
df_vaccine= pd.read_csv("Vaccine.csv")

In [136]:
df_vaccine.shape

(27416, 82)

In [6]:
# Checking the art
df_vaccine.columns

Index(['Date', 'MMWR_week', 'Location', 'Distributed', 'Distributed_Janssen',
       'Distributed_Moderna', 'Distributed_Pfizer', 'Distributed_Unk_Manuf',
       'Dist_Per_100K', 'Distributed_Per_100k_12Plus',
       'Distributed_Per_100k_18Plus', 'Distributed_Per_100k_65Plus',
       'Administered', 'Administered_12Plus', 'Administered_18Plus',
       'Administered_65Plus', 'Administered_Janssen', 'Administered_Moderna',
       'Administered_Pfizer', 'Administered_Unk_Manuf', 'Admin_Per_100K',
       'Admin_Per_100k_12Plus', 'Admin_Per_100k_18Plus',
       'Admin_Per_100k_65Plus', 'Recip_Administered',
       'Administered_Dose1_Recip', 'Administered_Dose1_Pop_Pct',
       'Administered_Dose1_Recip_12Plus',
       'Administered_Dose1_Recip_12PlusPop_Pct',
       'Administered_Dose1_Recip_18Plus',
       'Administered_Dose1_Recip_18PlusPop_Pct',
       'Administered_Dose1_Recip_65Plus',
       'Administered_Dose1_Recip_65PlusPop_Pct', 'Series_Complete_Yes',
       'Series_Complete_Pop_Pct', 'Series_Complete_12Plus',
       'Series_Complete_12PlusPop_Pct', 'Series_Complete_18Plus',
       'Series_Complete_18PlusPop_Pct', 'Series_Complete_65Plus',
       'Series_Complete_65PlusPop_Pct', 'Series_Complete_Janssen',
       'Series_Complete_Moderna', 'Series_Complete_Pfizer',
       'Series_Complete_Unk_Manuf', 'Series_Complete_Janssen_12Plus',
       'Series_Complete_Moderna_12Plus', 'Series_Complete_Pfizer_12Plus',
       'Series_Complete_Unk_Manuf_12Plus', 'Series_Complete_Janssen_18Plus',
       'Series_Complete_Moderna_18Plus', 'Series_Complete_Pfizer_18Plus',
       'Series_Complete_Unk_Manuf_18Plus', 'Series_Complete_Janssen_65Plus',
       'Series_Complete_Moderna_65Plus', 'Series_Complete_Pfizer_65Plus',
       'Series_Complete_Unk_Manuf_65Plus', 'Additional_Doses',
       'Additional_Doses_Vax_Pct', 'Additional_Doses_12Plus',
       'Additional_Doses_12Plus_Vax_Pct', 'Additional_Doses_18Plus',
       'Additional_Doses_18Plus_Vax_Pct', 'Additional_Doses_50Plus',
       'Additional_Doses_50Plus_Vax_Pct', 'Additional_Doses_65Plus',
       'Additional_Doses_65Plus_Vax_Pct', 'Additional_Doses_Moderna',
       'Additional_Doses_Pfizer', 'Additional_Doses_Janssen',
       'Additional_Doses_Unk_Manuf', 'Administered_Dose1_Recip_5Plus',
       'Administered_Dose1_Recip_5PlusPop_Pct', 'Series_Complete_5Plus',
       'Series_Complete_5PlusPop_Pct', 'Administered_5Plus',
       'Admin_Per_100k_5Plus', 'Distributed_Per_100k_5Plus',
       'Series_Complete_Moderna_5Plus', 'Series_Complete_Pfizer_5Plus',
       'Series_Complete_Janssen_5Plus', 'Series_Complete_Unk_Manuf_5Plus'],
      dtype='object')

In [7]:
df_vaccine.dtypes

Date                                object
MMWR_week                            int64
Location                            object
Distributed                          int64
Distributed_Janssen                  int64
                                    ...
Distributed_Per_100k_5Plus         float64
Series_Complete_Moderna_5Plus      float64
Series_Complete_Pfizer_5Plus       float64
Series_Complete_Janssen_5Plus      float64
Series_Complete_Unk_Manuf_5Plus    float64
Length: 82, dtype: object

In [8]:
df_vaccine["Location"].unique()

array(['DE', 'KS', 'ID', 'US', 'WI', 'NJ', 'MI', 'SC', 'MN', 'OR', 'OK',
       'CA', 'NC', 'AR', 'NH', 'NM', 'VI', 'SD', 'DD2', 'IH2', 'PA', 'NE',
       'WV', 'VA2', 'PR', 'PW', 'ME', 'MD', 'TN', 'VT', 'AZ', 'VA', 'CO',
       'RI', 'WY', 'DC', 'MA', 'IL', 'AL', 'MT', 'HI', 'NV', 'MO', 'GA',
       'GU', 'UT', 'LA', 'FL', 'MH', 'MP', 'FM', 'IA', 'WA', 'ND', 'NY',
       'AK', 'AS', 'OH', 'TX', 'MS', 'KY', 'IN', 'CT', 'BP2', 'RP', 'LTC'],
      dtype=object)

In [9]:
len(df_vaccine["Location"].unique())

66

In [10]:
df_vaccine["Date"] =  pd.to_datetime(df_vaccine["Date"], format='%m/%d/%Y')

In [11]:
df_vaccine["week"]=df_vaccine["Date"].dt.week

C:\Users\Surya\AppData\Local\Temp/ipykernel_16120/3841884626.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df_vaccine["week"]=df_vaccine["Date"].dt.week

In [12]:
df_vaccine["week"] = df_vaccine["week"].astype(str).str.pad(2, side='left', fillchar='0')

## Unique row identifier generation

In [13]:
df_vaccine["uid"]=df_vaccine['Location']+df_vaccine['Date'].astype(str).str[:4]+df_vaccine["week"].astype(str)

In [14]:
df_vaccine["uid"]

0         DE202206
1         KS202206
2         ID202206
3         US202206
4         WI202206
           ...
27411     AS202050
27412    LTC202050
27413     VI202050
27414     US202050
27415     GU202050
Name: uid, Length: 27416, dtype: object

In [71]:
len(df_vaccine["uid"].unique())

4081

In [76]:
df_vaccine["uid"].value_counts()

CO202128     7
MI202120     7
WV202120     7
SC202120     7
AR202120     7
            ..
AS202050     1
LTC202050    1
VI202050     1
US202050     1
GU202050     1
Name: uid, Length: 4081, dtype: int64

In [79]:
df_vaccine[df_vaccine["uid"]=='CO202128']

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus,week,uid
13384,2021-07-18,29,CO,7139535,340300,2932760,3866475,0,123977,144640,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,28,CO202128
13415,2021-07-17,28,CO,7139535,340300,2932760,3866475,0,123977,144640,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,28,CO202128
13527,2021-07-16,28,CO,7126285,340300,2928960,3857025,0,123747,144372,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,28,CO202128
13554,2021-07-15,28,CO,7113825,340300,2921900,3851625,0,123531,144119,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,28,CO202128
13606,2021-07-14,28,CO,7110155,340300,2918680,3851175,0,123467,144045,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,28,CO202128
13727,2021-07-13,28,CO,7107335,340300,2916760,3850275,0,123418,143988,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,28,CO202128
13768,2021-07-12,28,CO,7101515,340300,2916340,3844875,0,123317,143870,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,28,CO202128

In [80]:
df_vaccine=df_vaccine.sort_values('Date', ascending=False).drop_duplicates('uid').sort_index()

In [81]:
df_vaccine.shape

(4081, 84)

In [123]:
#df_vaccine=df_vaccine.set_index('uid')

In [82]:
df_vaccine.head()

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,Series_Complete_5PlusPop_Pct,Administered_5Plus,Admin_Per_100k_5Plus,Distributed_Per_100k_5Plus,Series_Complete_Moderna_5Plus,Series_Complete_Pfizer_5Plus,Series_Complete_Janssen_5Plus,Series_Complete_Unk_Manuf_5Plus,week,uid
0,2022-02-10,6,DE,2160535,96000,825380,1239155,0,221875,257266,...,70.8,1705305.0,185552.0,235085.0,229599.0,363976.0,56309.0,650.0,06,DE202206
1,2022-02-10,6,KS,5629435,253800,2126560,3249075,0,193231,229614,...,63.6,4362307.0,159910.0,206359.0,620046.0,988778.0,124426.0,687.0,06,KS202206
2,2022-02-10,6,ID,3156470,155300,1214860,1786310,0,176629,211078,...,56.2,2334835.0,139738.0,188912.0,324576.0,534320.0,79425.0,753.0,06,ID202206
3,2022-02-10,6,US,674675725,30209400,246235940,398230385,0,203210,237964,...,68.3,545402676.0,174660.0,216059.0,74889969.0,121733824.0,16653790.0,138521.0,06,US202206
4,2022-02-10,6,WI,10856185,450400,4002040,6403745,0,186454,217133,...,67.9,9755611.0,177635.0,197675.0,1316149.0,2113668.0,297539.0,725.0,06,WI202206

In [83]:
df_vaccine.isnull().values.any()

True

In [18]:
df_vaccine.isnull().sum()

Date                                   0
MMWR_week                              0
Location                               0
Distributed                            0
Distributed_Janssen                    0
                                   ...
Series_Complete_Pfizer_5Plus       21016
Series_Complete_Janssen_5Plus      21016
Series_Complete_Unk_Manuf_5Plus    21016
week                                   0
uid                                    0
Length: 84, dtype: int64

In [19]:
df_vaccine.dtypes

Date                               datetime64[ns]
MMWR_week                                   int64
Location                                   object
Distributed                                 int64
Distributed_Janssen                         int64
                                        ...
Series_Complete_Pfizer_5Plus              float64
Series_Complete_Janssen_5Plus             float64
Series_Complete_Unk_Manuf_5Plus           float64
week                                       object
uid                                        object
Length: 84, dtype: object

In [84]:
df_vaccine[['week','MMWR_week']]

      week  MMWR_week
0       06          6
1       06          6
2       06          6
3       06          6
4       06          6
...    ...        ...
27411   50         51
27412   50         51
27413   50         51
27414   50         51
27415   50         51

[4081 rows x 2 columns]

#### United States COVID-19 Cases and Deaths by State over Time by Centers for Disease Control and Prevention
source: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

In [85]:
df_cases= pd.read_csv("CND.csv")

In [86]:
df_cases.shape

(45000, 15)

In [87]:
df_cases.columns

Index(['submission_date', 'state', 'tot_cases', 'conf_cases', 'prob_cases',
       'new_case', 'pnew_case', 'tot_death', 'conf_death', 'prob_death',
       'new_death', 'pnew_death', 'created_at', 'consent_cases',
       'consent_deaths'],
      dtype='object')

In [88]:
df_cases.dtypes

submission_date     object
state               object
tot_cases            int64
conf_cases         float64
prob_cases         float64
new_case             int64
pnew_case          float64
tot_death            int64
conf_death         float64
prob_death         float64
new_death            int64
pnew_death         float64
created_at          object
consent_cases       object
consent_deaths      object
dtype: object

In [89]:
df_cases.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,03/11/2021,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN
1,02/12/2021,UT,359641,359641.0,0.0,1060,0.0,1785,1729.0,56.0,11,2.0,02/13/2021 02:50:08 PM,Agree,Agree
2,03/01/2021,CO,438745,411869.0,26876.0,677,60.0,5952,5218.0,734.0,1,0.0,03/01/2021 12:00:00 AM,Agree,Agree
3,02/04/2020,AR,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
4,08/22/2020,AR,56199,NaN,NaN,547,0.0,674,NaN,NaN,11,0.0,08/23/2020 02:15:28 PM,Not agree,Not agree

In [90]:
df_cases["submission_date"] =  pd.to_datetime(df_cases["submission_date"], format='%m/%d/%Y')

In [91]:
df_cases["week"]=df_cases["submission_date"].dt.week

C:\Users\Surya\AppData\Local\Temp/ipykernel_16120/87290139.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df_cases["week"]=df_cases["submission_date"].dt.week

In [92]:
df_cases["week"] = df_cases["week"].astype(str).str.pad(2, side='left', fillchar='0')

In [93]:
df_cases["uid"]=df_cases['state']+df_cases['submission_date'].astype(str).str[:4]+df_cases["week"].astype(str)

In [94]:
df_cases["uid"]

0        KS202110
1        UT202106
2        CO202109
3        AR202006
4        AR202034
           ...
44995    IA202022
44996    SD202023
44997    SD202117
44998    SD202110
44999    OH202121
Name: uid, Length: 45000, dtype: object

In [95]:
df_cases["uid"].isnull().sum()

0

In [96]:
df_cases["uid"].value_counts()

KS202110    7
CT202144    7
IN202016    7
MO202105    7
GU202136    7
           ..
OR202252    2
IN202252    2
WV202252    2
SC202252    2
PA202252    2
Name: uid, Length: 6600, dtype: int64

In [99]:
df_cases[df_cases["uid"]=='KS202110']

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,week,uid
0,2021-03-11,KS,297229,241035.0,56194.0,0,0.0,4851,NaN,NaN,0,0.0,03/12/2021 03:20:13 PM,Agree,NaN,10,KS202110
876,2021-03-10,KS,297229,241035.0,56194.0,778,223.0,4851,NaN,NaN,35,-1.0,03/11/2021 03:36:21 PM,Agree,NaN,10,KS202110
1375,2021-03-14,KS,297748,241369.0,56379.0,0,0.0,4824,NaN,NaN,0,0.0,03/15/2021 02:03:45 PM,Agree,NaN,10,KS202110
3268,2021-03-08,KS,296451,240480.0,55971.0,590,98.0,4816,NaN,NaN,4,-2.0,03/09/2021 02:47:41 PM,Agree,NaN,10,KS202110
3325,2021-03-09,KS,296451,240480.0,55971.0,0,0.0,4816,NaN,NaN,0,0.0,03/10/2021 02:58:31 PM,Agree,NaN,10,KS202110
40422,2021-03-13,KS,297748,241369.0,56379.0,0,0.0,4824,NaN,NaN,0,0.0,03/14/2021 01:53:25 PM,Agree,NaN,10,KS202110
40491,2021-03-12,KS,297748,241369.0,56379.0,519,185.0,4824,NaN,NaN,-27,0.0,03/13/2021 03:19:19 PM,Agree,NaN,10,KS202110

In [101]:
df_cases=df_cases.sort_values('submission_date', ascending=False).drop_duplicates('uid').sort_index()

In [102]:
df_cases.shape

(6600, 17)

#### COVID Hospital Statistics by the U.S. Department of Health & Human Services
Source: https://healthdata.gov/Hospital/COVID-19-Reported-Patient-Impact-and-Hospital-Capa/anag-cw7u

In [35]:
df_hospitals= pd.read_csv("Hospitals.csv")

In [36]:
df_hospitals.shape

(394846, 109)

In [37]:
df_hospitals.columns

Index(['hospital_pk', 'collection_week', 'state', 'ccn', 'hospital_name',
       'address', 'city', 'zip', 'hospital_subtype', 'fips_code',
       ...
       'previous_day_admission_pediatric_covid_confirmed_7_day_coverage',
       'previous_day_admission_adult_covid_suspected_7_day_coverage',
       'previous_day_admission_pediatric_covid_suspected_7_day_coverage',
       'previous_week_personnel_covid_vaccinated_doses_administered_7_day',
       'total_personnel_covid_vaccinated_doses_none_7_day',
       'total_personnel_covid_vaccinated_doses_one_7_day',
       'total_personnel_covid_vaccinated_doses_all_7_day',
       'previous_week_patients_covid_vaccinated_doses_one_7_day',
       'previous_week_patients_covid_vaccinated_doses_all_7_day',
       'is_corrected'],
      dtype='object', length=109)

In [38]:
df_hospitals.dtypes

hospital_pk                                                 object
collection_week                                             object
state                                                       object
ccn                                                         object
hospital_name                                               object
                                                            ...
total_personnel_covid_vaccinated_doses_one_7_day           float64
total_personnel_covid_vaccinated_doses_all_7_day           float64
previous_week_patients_covid_vaccinated_doses_one_7_day    float64
previous_week_patients_covid_vaccinated_doses_all_7_day    float64
is_corrected                                                  bool
Length: 109, dtype: object

In [39]:
df_hospitals.head()

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_confirmed_7_day_coverage,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected
0,040161,2022/01/28,AR,040161,ARKANSAS HEART HOSPITAL-ENCORE,1901 ENCORE WAY,BRYANT,72022.0,Short Term,5125.0,...,4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,False
1,041317,2020/08/07,AR,041317,DALLAS COUNTY MEDICAL CENTER,201 CLIFTON STREET,FORDYCE,71742.0,Critical Access Hospitals,5039.0,...,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN,False
2,171352,2020/07/31,KS,171352,DECATUR COUNTY HOSPITAL,810 W COLUMBIA STREET,OBERLIN,67749.0,Critical Access Hospitals,20039.0,...,7,7,7,NaN,NaN,NaN,NaN,NaN,NaN,False
3,271342,2020/07/31,MT,271342,DANIELS MEMORIAL HOSPITAL,105 5TH AVE E,SCOBEY,59263.0,Critical Access Hospitals,30019.0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,False
4,250012,2020/07/31,MS,250012,ALLIANCE HEALTHCARE SYSTEM,1430 HIGHWAY 4 EAST / P O BOX 6000,HOLLY SPRINGS,38635.0,Short Term,28093.0,...,0,6,0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [40]:
df_hospitals["hospital_subtype"].unique()

array(['Short Term', 'Critical Access Hospitals', 'Long Term',
       'Childrens Hospitals'], dtype=object)

In [41]:
df_hospitals["collection_week"] =  pd.to_datetime(df_hospitals["collection_week"], format='%Y/%m/%d')

In [42]:
df_hospitals["week"]=df_hospitals["collection_week"].dt.week

C:\Users\Surya\AppData\Local\Temp/ipykernel_16120/545828758.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df_hospitals["week"]=df_hospitals["collection_week"].dt.week

In [43]:
df_hospitals["week"] = df_hospitals["week"].astype(str).str.pad(2, side='left', fillchar='0')

In [44]:
df_hospitals["week"]

0         04
1         32
2         31
3         31
4         31
          ..
394841    32
394842    31
394843    31
394844    32
394845    31
Name: week, Length: 394846, dtype: object

In [45]:
df_hospitals["uid"]=df_hospitals['state']+df_hospitals['collection_week'].astype(str).str[:4]+df_hospitals["week"].astype(str)

In [47]:
df_hospitals["uid"]

0         AR202204
1         AR202032
2         KS202031
3         MT202031
4         MS202031
            ...
394841    CO202032
394842    MN202031
394843    MN202031
394844    MO202032
394845    FL202031
Name: uid, Length: 394846, dtype: object

In [111]:
df_hospitals["uid"].value_counts()

TX202123    451
TX202117    450
TX202121    450
TX202102    450
TX202153    450
           ...
MP202040      1
MP202046      1
MP202041      1
AS202203      1
MP202148      1
Name: uid, Length: 4369, dtype: int64

In [112]:
df_hospitals[df_hospitals["uid"]=='TX202123']

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,...,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected,week,uid
165366,450097,2021-06-11,TX,450097,HCA HOUSTON HEALTHCARE SOUTHEAST,4000 SPENCER HWY,PASADENA,77504.0,Short Term,48201.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
165404,670134,2021-06-11,TX,670134,ALTUS LUMBERTON HOSPITAL,220 BLANCO ST,LUMBERTON,77657.0,Short Term,48199.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
165410,450163,2021-06-11,TX,450163,CHRISTUS SPOHN HOSPITAL KLEBERG,1311 GENERAL CAVAZOS BLVD,KINGSVILLE,78363.0,Short Term,48273.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
165453,452083,2021-06-11,TX,452083,MID-JEFFERSON EXTENDED CARE HOSPITAL,2600 HWY 365,NEDERLAND,77627.0,Long Term,48245.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
165464,450647,2021-06-11,TX,450647,MEDICAL CITY DALLAS,7777 FOREST LANE,DALLAS,75230.0,Short Term,48113.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178151,451306,2021-06-11,TX,451306,KIMBLE HOSPITAL,349 REID ROAD,JUNCTION,76849.0,Critical Access Hospitals,48267.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
178166,453312,2021-06-11,TX,453312,SHRINERS HOSPITALS FOR CHILDREN,6977 MAIN STREET,HOUSTON,77030.0,Childrens Hospitals,48201.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
178213,670077,2021-06-11,TX,670077,HOUSTON METHODIST WEST HOSPITAL,18500 KATY FREEWAY,HOUSTON,77094.0,Short Term,48201.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
178247,450862,2021-06-11,TX,450862,ST LUKE'S THE WOODLANDS HOSPITAL,17200 ST LUKE'S WAY,THE WOODLANDS,77384.0,Short Term,48339.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123
178279,450723,2021-06-11,TX,450723,METHODIST CHARLTON MEDICAL CENTER,3500 W WHEATLAND ROAD,DALLAS,75237.0,Short Term,48113.0,...,7,NaN,NaN,NaN,NaN,NaN,NaN,False,23,TX202123

In [129]:
a=df_hospitals.isnull().sum().sort_values(ascending=False)

In [138]:
a.(50)

total_personnel_covid_vaccinated_doses_none_7_day                      227635
total_personnel_covid_vaccinated_doses_one_7_day                       227325
total_personnel_covid_vaccinated_doses_all_7_day                       226989
previous_week_patients_covid_vaccinated_doses_one_7_day                226824
previous_week_patients_covid_vaccinated_doses_all_7_day                226814
previous_week_personnel_covid_vaccinated_doses_administered_7_day      226745
total_patients_hospitalized_confirmed_influenza_and_covid_7_day_avg     87449
total_patients_hospitalized_confirmed_influenza_and_covid_7_day_sum     87449
icu_patients_confirmed_influenza_7_day_sum                              83426
icu_patients_confirmed_influenza_7_day_avg                              83426
previous_day_admission_influenza_confirmed_7_day_sum                    83420
total_patients_hospitalized_confirmed_influenza_7_day_sum               83184
total_patients_hospitalized_confirmed_influenza_7_day_avg               83184
geocoded_hospital_address                                               29027
previous_day_admission_adult_covid_suspected_18-19_7_day_sum            11490
previous_day_admission_adult_covid_confirmed_18-19_7_day_sum            11279
previous_day_admission_adult_covid_confirmed_20-29_7_day_sum            11048
previous_day_admission_adult_covid_suspected_20-29_7_day_sum            10682
previous_day_admission_adult_covid_confirmed_30-39_7_day_sum            10628
previous_day_admission_adult_covid_suspected_30-39_7_day_sum            10561
previous_day_admission_adult_covid_confirmed_40-49_7_day_sum            10418
previous_day_admission_adult_covid_suspected_40-49_7_day_sum            10327
previous_day_admission_adult_covid_confirmed_50-59_7_day_sum             9975
previous_day_admission_adult_covid_suspected_50-59_7_day_sum             9939
all_adult_hospital_beds_7_day_avg                                        9780
all_adult_hospital_beds_7_day_sum                                        9780
previous_day_admission_adult_covid_suspected_80+_7_day_sum               9771
previous_day_admission_adult_covid_confirmed_80+_7_day_sum               9670
previous_day_admission_adult_covid_suspected_70-79_7_day_sum             9528
previous_day_admission_adult_covid_confirmed_60-69_7_day_sum             9460
previous_day_admission_adult_covid_suspected_60-69_7_day_sum             9437
previous_day_admission_adult_covid_confirmed_70-79_7_day_sum             9426
previous_day_admission_adult_covid_suspected_unknown_7_day_sum           7865
previous_day_admission_adult_covid_confirmed_unknown_7_day_sum           7443
total_staffed_adult_icu_beds_7_day_sum                                   7014
total_staffed_adult_icu_beds_7_day_avg                                   7014
previous_day_admission_pediatric_covid_confirmed_7_day_sum               6357
previous_day_admission_pediatric_covid_suspected_7_day_sum               6137
previous_day_covid_ED_visits_7_day_sum                                   5885
staffed_adult_icu_bed_occupancy_7_day_avg                                5780
staffed_adult_icu_bed_occupancy_7_day_sum                                5780
all_adult_hospital_inpatient_beds_7_day_sum                              5576
all_adult_hospital_inpatient_beds_7_day_avg                              5576
total_beds_7_day_avg                                                     4846
total_beds_7_day_sum                                                     4846
previous_day_total_ED_visits_7_day_sum                                   4467
staffed_icu_adult_patients_confirmed_covid_7_day_sum                     4434
staffed_icu_adult_patients_confirmed_covid_7_day_avg                     4434
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_sum       4243
staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg       4243
dtype: int64

In [142]:
df_hospitals=df_hospitals.dropna()

In [147]:
df_hs=pd.pivot_table(
   df_hospitals,
   index=['uid','state'],
   aggfunc={'staffed_adult_icu_bed_occupancy_7_day_sum': np.sum, 'total_staffed_adult_icu_beds_7_day_sum': np.sum}
).rename(columns={'ICU_Occupied': 'Total_beds'})

In [148]:
# Get names of indexes for which column Age has value 30
indexNames = df_hs[ df_hs['staffed_adult_icu_bed_occupancy_7_day_sum'] < 0 ].index
# Delete these row indexes from dataFrame
df_hospitals.drop(indexNames , inplace=True)

In [149]:
df_hs

,,staffed_adult_icu_bed_occupancy_7_day_sum,total_staffed_adult_icu_beds_7_day_sum
uid,state,,
AK202101,AK,24.0,63.0
AK202102,AK,79.0,161.0
AK202103,AK,74.0,161.0
AK202104,AK,29.0,77.0
AK202105,AK,100.0,175.0
...,...,...,...
WY202152,WY,427.0,862.0
WY202201,WY,325.0,836.0
WY202202,WY,332.0,813.0
WY202203,WY,0.0,0.0
WY202204,WY,6.0,39.0

#### Rates of COVID-19 Cases or Deaths by Age Group and Vaccination Status by Centers for Disease Control and Prevention 
Source: https://data.cdc.gov/Public-Health-Surveillance/Rates-of-COVID-19-Cases-or-Deaths-by-Age-Group-and/3rge-nu2a

In [49]:
df_vacstat= pd.read_csv("vstats.csv")

In [50]:
df_vacstat.shape

(730, 16)

In [51]:
df_vacstat.head()

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
0,case,04 - APR,202114,12-17,all_types,7,38220,29459,16946683.0,18.315018,173.833428,9.491305,NaN,NaN,NaN,0
1,case,04 - APR,202115,12-17,all_types,4,56121,29153,16671338.0,7.127457,174.868988,24.534556,NaN,NaN,NaN,0
2,case,04 - APR,202116,12-17,all_types,6,87173,25160,16388829.0,6.882865,153.519205,22.304549,NaN,NaN,NaN,0
3,case,04 - APR,202117,12-17,all_types,21,140242,23465,16135529.0,14.974116,145.424423,9.711720,NaN,NaN,NaN,0
4,case,05 - MAY,202118,12-17,all_types,12,237327,18697,15963947.0,5.056315,117.120158,23.163147,NaN,NaN,NaN,0

In [52]:
df_vacstat.columns

Index(['outcome', 'month', 'MMWR week', 'Age group', 'Vaccine product',
       'Vaccinated with outcome', 'Fully vaccinated population',
       'Unvaccinated with outcome', 'Unvaccinated population', 'Crude vax IR',
       'Crude unvax IR', 'Crude IRR', 'Age adjusted vax IR',
       'Age adjusted unvax IR', 'Age adjusted IRR', 'Continuity correction'],
      dtype='object')

In [53]:
df_vacstat["Age group"].unique()

array(['12-17', '18-29', '30-49', '50-64', '65-79', '80+', 'all_ages_adj'],
      dtype=object)

In [54]:
df_vacstat["Vaccine product"].unique()

array(['all_types', 'Janssen', 'Moderna', 'Pfizer'], dtype=object)

In [56]:
df_vacstat["outcome"].unique()

array(['case', 'death'], dtype=object)

## Merging data

In [103]:
#df_master=df_vaccine.merge(df_cases, on='uid',how='inner')
df_master=pd.merge(df_vaccine,df_cases,left_on='uid',right_on='uid')

In [150]:
df_master=pd.merge(df_master,df_hs,left_on='uid',right_on='uid')

In [151]:
df_master.head()

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Unk_Manuf,Dist_Per_100K,Distributed_Per_100k_12Plus,...,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,week_y,staffed_adult_icu_bed_occupancy_7_day_sum,total_staffed_adult_icu_beds_7_day_sum
0,2022-01-30,5,VA,18169385,768100,6301200,11100085,0,212868,248658,...,13497.0,2671.0,0,0.0,01/31/2022 04:55:36 PM,Agree,Agree,04,5404.0,7564.0
1,2022-01-30,5,SD,1708245,87800,678780,941665,0,193096,231438,...,2259.0,378.0,0,0.0,01/31/2022 04:55:36 PM,NaN,Agree,04,0.0,0.0
2,2022-01-30,5,NC,20149700,909300,7464360,11776040,0,192120,224246,...,18537.0,2595.0,50,8.0,01/30/2022 12:00:00 AM,Agree,Agree,04,255.0,315.0
3,2022-01-30,5,OR,9268845,457600,3455120,5356125,0,219759,254096,...,6086.0,0.0,0,0.0,01/31/2022 04:55:36 PM,Agree,Agree,04,727.0,938.0
4,2022-01-30,5,CA,82897655,3649600,29435020,49813035,0,209803,246380,...,NaN,NaN,0,0.0,01/31/2022 04:55:36 PM,Agree,Not agree,04,26091.0,31523.0

In [152]:
df_master.columns

Index(['Date', 'MMWR_week', 'Location', 'Distributed', 'Distributed_Janssen',
       'Distributed_Moderna', 'Distributed_Pfizer', 'Distributed_Unk_Manuf',
       'Dist_Per_100K', 'Distributed_Per_100k_12Plus',
       ...
       'conf_death', 'prob_death', 'new_death', 'pnew_death', 'created_at',
       'consent_cases', 'consent_deaths', 'week_y',
       'staffed_adult_icu_bed_occupancy_7_day_sum',
       'total_staffed_adult_icu_beds_7_day_sum'],
      dtype='object', length=102)

In [153]:
df_master.shape

(2821, 102)

In [154]:
df_cases.shape

(6600, 17)

In [155]:
df_vaccine.shape

(4081, 84)

In [156]:
df_hs.shape

(2821, 2)

In [109]:
df_master.isnull().sum()

Date                     0
MMWR_week                0
Location                 0
Distributed              0
Distributed_Janssen      0
                      ...
pnew_death               0
created_at               0
consent_cases          572
consent_deaths         508
week_y                   0
Length: 100, dtype: int64